@use './variable' as *;

#site_footer{
    .container{

        .footer_top{
            justify-content: space-between;
            padding: 60px 0;
            .navbar{

                ul{
                    list-style: none;

                    li{

                        a{
                            text-decoration: none;
                            color: $phlox-bg-btn-next-prev;
                        }
                    }
                }
            }

            .social{
                ul{
                    list-style: none;

                    li{

                        a{
                            text-decoration: none;
                            color: $phlox-text-light;
                        }
                    }
                }
            }
        }

        .separeted-footer{
            background-color: $phlox-bg-btn-next-prev;
            height: 1px;
        }
        .footer-bottom{
            padding: 60px 0;
            color: $phlox-bg-btn-next-prev;
            align-items: center;
            justify-content: space-between;
            .policy{
                
                ul{
                    list-style: none;

                    li{
                        a{
                            color: $phlox-bg-btn-next-prev;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}