@use './variable' as *;

#site_header{
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;

    nav{
        max-width: 1900px;
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo>img{
            width: 90px;
        }

        .navbar{
            
            ul{
                display: flex;
                list-style: none;
                gap: 1.5rem;

                li{
                    padding: 15px 0;
                    

                    a{
                        text-decoration: none;
                        color: $phlox-text-paragraph;
                        
                    }
                    &:hover{
                        border-top: 3px solid;
                    }

                    &:hover, &:hover a{
                        color: $phlox-text-light;
                        font-weight: 800;
                    }
                }
            }
        }

        .sidebar-mobile{
            display: none;
            font-size: 30px;

            &>.overlay{
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.5s linear;
                z-index: 99999;
                background-color: #1f1e38fd;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 20px;

                &>i{
                    width: 100%;
                    text-align: end;
                    font-size: 25px;
                

                }

                &>ul{

                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    justify-content: space-around;

                    &>li>a{
                        text-decoration: none;
                        color: white;
                        font-size: 20px;
                        font-weight: bolder;
                        padding-bottom: 5px;
                        border-bottom: 2px solid transparent;

                        display: block;

                        &:hover{
                            transition: all 0.3s ease-in-out;
                            border-color: white;
                        }
                        
                    }
                }
            }
        }
    }


    @media screen and (max-width: 720px) {

        nav{

            .navbar{
                display: none;
            }

            .sidebar-mobile{
                display: block;
            }
        }

        
    }
}