@use './variable' as *;

// region Jumbotron
#jumbotron {
    display: flex;

    .left {
        align-items: center;
        padding-left: 10%;

        .jumbotron_info {
            z-index: 5;

            .section {
                align-items: baseline;

                span {
                    font-stretch: condensed;
                }

                .separeted_small {
                    margin-right: 15px;
                }

            }

            h1 {
                font-size: 100px;
                width: 800px;
                margin-bottom: 30px;
            }

            .btn-jumbotron {

                .btn-play {
                    color: $phlox-bg-important;
                    background-color: transparent;
                    border: 0.1rem solid $phlox-border-light;
                    padding: 7.5px 13px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    margin-left: 35px;
                    cursor: pointer;
                }
            }
        }
    }

    .right {
        height: 1000px;
        background-image: url('/public/images/portrait-of-young-architect-woman-on-meeting-KFZCE3A.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

// endregion Jumbotron

// region our-consultation
#our-consultation {
    background-color: $phlox-bg-light;
    color: $phlox-text-dark;
    padding: 80px 0;

    .container-sm {
        max-width: 1400px;
        width: 75%;
        margin: auto;

        .title {
            padding-bottom: 40px;
            align-items: center;

            .width-long {
                width: 60%;
                right: 0;
            }

            @media screen and (max-width: 1550px) {
                .width-long {
                    width: 50%;
                }
            }
        }

        .row {
            flex-wrap: wrap;
            gap: 100px;

            .col-6-50 {
                width: calc(50% - 50px);

                .icon>i {
                    padding: 10px;
                    background-color: $phlox-bg-btn-primary;
                    border-radius: 50%;
                    font-size: 25px;
                    color: $phlox-text-light;
                    margin-right: 30px;

                }

                .info {

                    p {
                        padding-top: 15px;
                    }
                }
            }

        }
    }
}

// endregion our-consultation

// region about-us
#about-us {
    .container_fluid {
        padding-bottom: 100px;
        flex-wrap: wrap;

        .left>img {
            width: 100%;
            height: 100%;
        }


        .right {
            align-self: center;
            padding: 0 80px;

            &>* {
                margin-bottom: 20px;
            }

            .section>div {
                display: inline-block;
                margin-right: 20px;
            }

            h1 {
                font-size: 50px;
            }
        }

        .banner {
            color: $phlox-text-dark;
            background-color: $phlox-bg-important;
            padding: 100px;
            justify-content: space-evenly;

            .left_banner,
            .right_banner {

                width: 280px;
            }

            .right_banner {
                font-size: 12px;
            }

            button {
                cursor: pointer;
                padding: 15px 40px;
                color: $phlox-text-light;
                background-color: $phlox-bg-btn-primary;
                border: 4px solid transparent;
                right: 0;
                bottom: 0;

                &:hover {
                    background-color: $phlox-bg-primary;
                    border-color: $phlox-bg-btn-primary;

                }
            }
        }
    }
}

// region about-us

// region project
#project {
    padding-bottom: 100px;

    .container {

        .section>div {
            display: inline-block;
            margin-right: 20px;
        }

        .header-project {
            justify-content: space-between;
            align-items: center;

            h1 {
                width: 50%;
                padding: 20px 0;
            }

            .btn-prev-next {

                button {
                    cursor: pointer;
                    background-color: $phlox-bg-btn-next-prev;
                    padding: 7px;
                    border: none;
                    margin-left: 5px;
                }
            }
        }

        .row {
            .col-4 {
                img {
                    width: 100%;
                    height: 100%;

                    opacity: 0.9;



                }

                .overlay {
                    position: absolute;
                    background-color: rgba(248, 29, 58, 0.7);
                    filter: contrast(200%);
                    z-index: 3;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    visibility: hidden;
                    padding: 20px;
                    align-items: flex-end;

                    .info-product {
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        .info {

                            span {
                                opacity: 0.7;
                            }
                        }

                        .plus {
                            filter: contrast(50%);
                            cursor: pointer;
                            padding: 20px;
                            background-color: $phlox-bg-btn-id-banner;

                            i {
                                font-size: 20px;
                            }
                        }

                    }



                }

                &:hover .overlay {
                    visibility: visible;
                }
            }



        }
    }
}

// end region project

// region testimonial
#testimonial {
    margin-bottom: 100px;

    .container_testimonial {
        margin-left: 10%;

        .container_header {
            margin-right: 10%;
            padding-bottom: 40px;

            .section {
                align-items: baseline;

                span {
                    text-align: end;
                }

                .container-separeted {
                    display: flex;
                    justify-content: flex-end;
                }
            }

            h1 {
                margin-left: 60%;
                text-align: end;
            }
        }

        .container_testimonials {

            padding-right: 10%;
            background-color: white;

            .testimonials {

                .testimonial {
                    min-height: 430px;
                    justify-content: center;

                    img {
                        display: none;
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                    }

                    .info-testimonial {
                        position: relative;
                        z-index: 3;
                        padding: 50px;
                        max-width: 500px;
                        align-self: center;

                        p {
                            margin-bottom: 30px;
                        }

                        h4 {
                            color: $phlox-text-dark;
                        }
                    }


                    &:hover img {
                        display: block;
                    }

                    &:hover .info-testimonial>h4 {
                        color: $phlox-text-light;
                    }
                }
            }
        }
    }
}

// endregion testimonial

// region blog
#blog {
    margin-bottom: 100px;

    .container {

        .section>.separeted_small {
            display: inline-block;
            margin-right: 15px;
        }

        .header-blog {
            justify-content: space-between;
            margin-bottom: 30px
        }

        .row {

            .col-2 {
                width: 50%;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                }

                .banner-img {
                    position: absolute;
                    padding: 20px 120px 20px 80px;
                    right: 0;
                    top: 60%;


                    background-color: $phlox-bg-light;
                    color: $phlox-text-dark;
                    width: 80%;

                    &>* {
                        margin: 20px 0;
                    }

                    .info_banner_img {
                        color: $phlox-text-date;
                        font-size: 13px;

                        span {
                            margin-right: 15px;
                        }
                    }
                }
            }

            
        }
        @media screen and (max-width: 1400px) {
                .row {
                    flex-wrap: wrap;

                    .col-2 {
                        width: 100%;
                    }
                }

            }
    }
}

// endregion blog

// region banner
#banner {
    width: 100%;
    padding: 100px 0;
    background-image: url('/public/images/business-people-working-together-on-project-and-B3MZ4TX.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .info_banner {
        text-align: center;
        width: 300px;
        margin: auto;

        p {
            font-size: 13px;
            opacity: 0.7;
            margin: 0 0 10px;
        }

        button {
            cursor: pointer;
            color: $phlox-text-light;
            padding: 15px 40px;
            border: 4px solid transparent;
            background-color: $phlox-bg-btn-id-banner;

            &:hover {
                background-color: $phlox-bg-btn-primary;
                border-color: $phlox-bg-btn-next-prev;
            }
        }
    }
}

// endregion banner