@use './variable' as *;

#jumbotron{
    display: flex;

    .left{
        width: calc((100% / 12) * 4);
        height: 600px;
        display: flex;
        align-items: center;
        padding-left: 10%;

    }
    .right{
        flex-grow: 1;
        height: 600px;
        display: flex;
        align-items: center;
    }
}

#our-consultation{

    .container{
        max-width: 1400px;
        width: 75%;
        margin: auto;

        .title{
            margin: 40px 0;
            display: flex;
            align-items: center;

            hr{
                color: $phlox-text-hover;
                width: 100px;
                height: 2px;
            }
        }

        .row{
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;

            .col-6{
                width: calc(50% - 4rem);
                display: flex;
            }

        }
    }
}

#about-us{
    .container{
        
        display: flex;
        flex-wrap: wrap;
        .left{
            width: calc((100% /12) * 6);
            height: 600px;
        }
        .right{
            width: calc((100% /12) * 5);
            align-self: center;
            padding: 0  30px;

            &>*{
                margin-bottom: 20px;
            }
        }
        .banner{
            width: calc((100% /12) * 11);
            padding: 20px ;
            position: relative;
            display: flex;
            justify-content: space-evenly;
            .left_banner{
                text-align: center;
            }

            button{
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
}

#project{

    .container{
        max-width: 1900px;
        width: 85%;
        margin: auto;

        .header-project{
            display: flex;
            justify-content: space-between;
        }

        .row{
            display: flex;
            gap: 1rem;
            height: 100px;

            .col-3{
                width: calc((100% / 12)*4);

            }
        }
    }
}