// colors background
$phlox-bg-primary: #1F1E38;
$phlox-bg-btn-primary: #F81D39;
$phlox-bg-light: #FFFFFF;
$phlox-bg-dark: #000000;
$phlox-bg-important: #39FFBF;
$phlox-bg-chat: #527CEB;
$phlox-bg-btn-next-prev: #36354C;
$phlox-bg-btn-id-banner: #201E38;


// colors text
$phlox-text-light: $phlox-bg-light;
$phlox-text-dark: $phlox-bg-dark;
$phlox-text-date: $phlox-bg-btn-primary;
$phlox-text-footer: $phlox-bg-btn-next-prev;
$phlox-text-paragraph: #888888;

// colors border
$phlox-border-light: $phlox-bg-light;



