// colors background
$phlox-bg-primary: #1F1E38;
$phlox-bg-btn-primary: #F81D39;
$phlox-bg-light: #FFFFFF;
$phlox-bg-dark: #000000E6;
$phlox-bg-important: #39FFBF;
$phlox-bg-chat: #527CEB;
$phlox-bg-btn-secondary: #3D3D3D;

// colors text
$phlox-text-light: #FFFFFF;
$phlox-text-dark: #000000;
$phlox-text-date: #F81D39;
$phlox-text-footer: #1f1e3880;
$phlox-text-hover: #1BB0CE;
$phlox-text-paragraph: #888888;

// colors fill
$phlox-fill-light: #FFFFFF;
$phlox-fill-dark: #000000;

// colors border
$phlox-border-light: #FFFFFF;



.separeted_small{
    width: 35px;
    height: 2px;
    background-color: $phlox-bg-important;
}



